# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer logs
*.cab
*.log

# Windows Installer backups
*.bak

# User-specific files
.vs/
.idea/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs
